<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="x_safeprojectname_.x_safeprojectname_" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="$safeprojectname$"></application>
</manifest>