################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/SKE48PlusViewer1/SKE48PlusViewer1/bin/Debug
bin/
obj/
packages/
*.suo
